<div class="descriptor">
  <span class="attribute" title="Double-click to remove.">{{attribute}}</span>
  <span class="operator"  title="Click me to change." onclick="oponclick($(this))">{{operator}}</span>
  <span class="value" title="Click me to change." onclick="valonclick($(this))">{{value}}</span>
  <ul class="olist hidden">
    # for o,d in olist:
    <li class="op" title="{{d}}"><a href="#">{{o}}</a></li>
    # endfor
  </ul>
  <ul class="vlist hidden" >
    # for v,d in vlist:
    <li class="val" title="{{d}}"><a href="#">{{v}}</a></li>
    # endfor
  </ul>
</div>
