<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
        type="text/css" rel="Stylesheet" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <link href="css/dpdq.css" type="text/css" rel="Stylesheet" />
  <script src="js/dpdq.js"></script>
  <script type="text/javascript">
    $(document).ready(initdpdq)
  </script>
  <title>DPDQ Web Client</title>
</head>


<body>
<div id='layout'>
  <div id='status-line' class='box'>
    <h2 id='sline-h2'>
      <span id='progname'>DPDQ Web GUI {{version}}</span>
Dataset:
    <span id='sline-data' class='sline dataset'></span>
Processor:
    <span id='sline-proc' class='sline processor'></span>
User: <span id='sline-user' class='sline user'>{{user}}</span>
    </h2>
    <button id="tooltip" title="Toggle help balloons."
            style="float:right"
            onclick="toggletooltip()">Turn off balloon help</button>
    <button id='help-button'
            style="float:right"
            title="Click here for information about how to get help.">Help</button>
  </div>
  

  <div id='layout-table' class='css-table'>
    <div id='upper-row' class='css-row'>

      <!-- left cell -->
      <div id='box-tabs' class='box left css-cell'>
        <ul>
          <li>
            <a href="#tabs-data">
              <span class='tabtitle'
                    title="Select dataset to query.">Datasets</span>
            </a>
          </li>
          <li>
            <a href="#tabs-proc">
              <span class='tabtitle'
                    title="Select type of query.">Query Type</span>
            </a>
          </li>
          <li>
            <a href="?q=a">
              <span class='tabtitle'
                    title="Attributes available for output and propositions."
                    >Attributes</span>
            </a>
          </li>
          <li>
            <a href="?q=p">
              <span class='tabtitle'
                    title="Query type parameters with default values."
                    >Parameters</span>
            </a>
          </li>
        </ul>
        <div id="tabs-data">
          <ul>
    # for li in datasets:
    {{ li }}
    # endfor
          </ul>
        </div>
        <div id="tabs-proc">
          <ul>
    # for li in processors:
    {{ li }}
    # endfor
          </ul>
        </div>
      </div>

      <!-- right cell -->
      <div id='box-predicate' class="box right css-cell">
        <h3 title="Describe subset to query. Each outlined area below represents a conjunction of propositions. Click on outlined areas below to activate, then select an attribute to add a proposition."
            >Predicate</h3>
        <div id="c-row" class="overflow-auto full">

          <div id='css-cell' class='css-cell half'>
            <div id='conj-1' class = 'conjunction selectable fixed-con overflow-auto'>
              <div class='negated-checkbox'>
                <span title="Negate conjunction of propositions below."
                      >Negated
                </span>
                <input class='negated' type='checkbox'  value='negated'>
              </div>
            </div>
          </div>

          <div class='css-cell half'>
            <div class = 'conjunction selectable fixed-con overflow-auto'>
              <div class='negated-checkbox'>
                <span title="Negate conjunction of propositions below."
                      >Negated
                </span>
                <input class='negated' type='checkbox' value='negated'>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- second row -->

    <div id='lower-row' class='css-row'>
      <div id='left-cell' class='left css-cell box'>
        
        <!-- <div id='box-selected' class="box "> -->
          <h3 title="Attributes we want information on. Click on the area below to activate.">Output attributes</h3>
          <div id='selected-container'>
            <ul id='selected'
                title="Select attribute names to add."
                class="fixed-sel selectable overflow-auto">
            </ul>
          </div>
          <!-- </div> -->


        <!-- <div id='box-risk' class="box"> -->
          <!-- <h3 title="Differential privacy information.">Risk</h3> -->
          <h3 id='r-title' title="Differential privacy level to use for the next query.">Query risk:</h3> <input title="Differential privacy level to use for the next query." id='eps' value='1'>
          <p>
          <table>
            <tr>
              <td id='pb-cell'><div id='risk-pb'
                                    title="Accumulated risk."></div></td>
              <td><span id="risk-total" title="Accumulated/Total allowed.">
        (<span id='risk-total-current'></span>/<span id='risk-total-max'></span>)
              </span></td>
            </tr>
          </table>
          <!-- </div> -->


      </div>

      <div id='right-cell' class='right css-cell box'>
        <div id='box-buttons'>
          <button id="run" onclick="postinfo()">Run Query</button>
            <!-- 
            <button id="save">Save Result</button>
            <button id="explore">Explore Result</button>
            -->
          <button onclick="newcon()" title="Add a new conjunction.">New conjunction</button>
          <button onclick="clearsel()" title="Clear the selected area (attributes/propositions).">Clear selected</button>
          <button onclick="clearoutput()" title="Clear the output area.">Clear output</button>
        </div>
        <div id='box-output'>
          <h3 title="Query responses.">Output</h3>
          <div id='output' class='fixed-out overflow-auto'></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="help" title="Help">
  Hovering over many elements and their titles in the user interface yields
  bubble (tooltip) help. This functionality can be turned off/on with the button
  to the right. 
  <p>
  Typical use is to
    <ol>
      <li>select a dataset,</li>
      <li>select a query type,</li>
      <li>select (output) attributes we want information on. 
        <p>
        This is done by 
        first clicking on the outlined area underneath the "Output Attributes"
        title to activate the "receiving area", then click on the
        attribute names to include in the "Attributes" tab list. 
        </p>
        <p>
        For some query types
        like the counting ones (simple_count and user_pref_count) the selection of
        attributes does not affect the result,</p>
      </li>
      <li>select a subset of the data to query by specifying a predicate. 
        <p>
        The predicate is constructed by selecting
        "attribute operator value"  propositions (e.g., "age < 30") to go 
        into conjunction (logical "and") groups.
        This selection is done by activating the wanted conjunction
        group by clicking on it, then clicking attribute 
        names to insert propositions into the group. The operators and values in
        the inserted propositions can be
        changed by clicking on them or editing input boxes. A conjunction group's
        meaning can be negated by checking the "Negated" checkbox. Finally,
        the predicate is composed by the disjunction (logical or) of all
        non-empty (and possibly negated) conjunction groups.</p>
        <p>
        Only data points (records) for which the predicate is true will be included.
        An "empty" predicate (all conjunction groups are empy) is always true,
        i.e., all points will be included.
        For the query type "histogram", it might be better 
        not to specify a predicate and to filter the histogram 
        after construction instead, as more data used 
        for construction can yield better results.</p>
      </li>
    </ol>
  <p>
  The homepage of this tool, where more information can be had, is
  <a href="{{homepage}}" target=_blank>here</a> (opens new tab/window).
</div>
</body>
</html>
